@inject IJSRuntime JSRuntime
@using BarcodeGenerator.Utils


@page "/"

<h3>Barcode Generator</h3>

<div>
    <input @bind="InputValue" placeholder="Enter text for barcode" />
    <button @onclick="(e => HandleGenerateBarcode())">Generate</button>
</div>

<div class="py-4">
    <InputRadioGroup Name="barcodeFormat" @bind-Value="SelectedFormat">
        <label class="mx-2 cursor:pointer">
            <InputRadio Value='"QR_CODE"' />
            QR Code
        </label>
        <label class="mx-2">
            <InputRadio Value='"CODE_128"' />
            Code 128
        </label>
        <label class="mx-2">
            <InputRadio Value='"AZTEC"' />
            AZTEC
        </label>
    </InputRadioGroup>
</div>

@if (!string.IsNullOrEmpty(BarcodeImage))
{
    <div>
    <img src="@BarcodeImage" alt="Generated Barcode" width="300px" />
</div>
}


@code {
    private string InputValue = "";
    private string BarcodeImage = "";
    private string SelectedFormat = "QR_CODE";

    private async Task HandleGenerateBarcode()
    {
        if (string.IsNullOrWhiteSpace(InputValue))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Input value cannot be empty!");
            return;
        }

        BarcodeImage = BarcodeGenerator.Utils.BarcodeUtils.GenerateBarcode(InputValue, SelectedFormat);

    }
}